
.App{
    border: 1px solid #ccc;
    background: #fff;
    margin: 2em;
    width: 100%;
    max-width: 32em;
    min-height: 20em;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
    position: relative;
}
.App h1{
    margin: 0 0 16px;
    padding: 0.4em 0;
    text-align: center;
    color: #fff;
    background: #3F80E1;
}
.App h1 button{
    font-size: 16px;
    position: absolute;
    right: .4em;
    top: .4em;
    color:#fff ;
    background: #3F80E1;
    border: none;
}
.App button:focus{
    outline: none;
}
.inputWrapper input{
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border: 1px solid white;
    box-shadow: #ccc;
}
.App input:focus{
    outline: none;
}
.App input::placeholder{
    color: #ccc;
}
.itemWrapper{
    width: 80%;
    margin: 10px auto;
}
.itemWrapper::after{
    content: '';
    display: block;
    clear: both;
}
.itemWrapper input{
    width: 14px;
    height: 14px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    float: left;
}
.itemWrapper span{
    width: 60%;
    line-height:22px;
    float: left;
    word-break: break-all;
}
.itemWrapper button{
    display: none;
    float: right;
    background:#fff;
    color: #ccc;
    border: 0;
}
.itemWrapper:hover button{
    display: inline-block;
    color: #3F80E1;
}
.itemWrapper button:focus{
    outline: none;
}
