
.App{
    border: 1px solid #ddd;
    color: #333;
    background: #fff;
    margin: 2em;
    padding: 0 1em;
    width: 100%;
    max-width: 32em;
    min-height: 20em;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
    position: relative;
}
.App h1{
    /* min-width: 10em; */
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}
.App h1 button{
    font-size: 16px;
    position: absolute;
    right: 1em;
    top: 1em;
    color: #ddd;
    background: #fff;
    border: 1px solid white;
}
.App button:focus{
    outline: none;
}
.inputWrapper input{
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border: 1px solid white;
    box-shadow: #ddd;
}
.App input:focus{
    outline: none;
}
.App input::placeholder{
    color: #ddd;
}
.itemWrapper{
    width: 80%;
    margin: 10px auto;
}
.itemWrapper::after{
    content: '';
    display: block;
    clear: both;
}
.itemWrapper input{
    width: 14px;
    height: 14px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    float: left;
}
.itemWrapper span{
    width: 60%;
    line-height:22px;
    float: left;
    color: #666;
    word-break: break-all;
}
.itemWrapper button{
    float: right;
    background:#fff;
    color: #ddd;
    border: 0;
}
.itemWrapper button:focus{
    outline: none;
}
