.UserDialogWrapper{
    background:#EDEDED;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserDialog{
    border-radius: 4px;
    width: 100%;
    max-width: 20em;
    background: white;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
}
.UserDialog > .formWrapper{
    padding: 0 1em 1em;
}
.UserDialog  form >.row{
    padding: .3em 0;
}
.UserDialog  form >.row.actions{
    width: 80%;
    margin: 6px auto;
    line-height: 1.8em;
}
.UserDialog  form >.row.actions button{
    color:#fff;
    width: 100%;
    margin: 0 auto;
    line-height: 1.8em;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3F80E1;
}
.UserDialog  form >.row.actions .forgetPasswordWrapper{
    width: 100%;
}
.UserDialog  form >.row.actions a{
    margin: 6px 0 ;
    float: right;
    color: #3F80E1;
    text-decoration: none;
}
.UserDialog  form >.row.actions button:focus{
    outline: none;
}
.UserDialog  form .row input{
    display: block;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8em;
    padding-left:0.4em ;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:2px solid #ccc; 
}
.UserDialog  form .row input:focus{
    border-bottom-color:#3F80E1;
}
.UserDialog footer{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.UserDialog footer button{
    color: #3F80E1;
    background: #fff;
    border:none;
}
.UserDialog footer button:focus{
    outline: none;
}
.UserDialog footer button:first-child{
    float: left;
}
.UserDialog footer button:last-child{
    float: right;
}